<h1>Ads</h1>

<p>
  <%= link_to 'Create a new ad', resource(:ads, :new) %>
</p>

<% @ads.each do |ad| %>
<div class="li_ad <%= cycle('odd', 'even')%>">
  <div class="li_ad_header">
    <%= link_to(h(ad.sponsor), resource(ad), :class => 'sponsor') %>
    <%= delete_button ad, 'delete' %>
  </div>
  <p>
    Keywords: <b><%=h ad.word_list %></b>
  </p>
  <p>
    <% if ad.text.blank? %>
    No Custom Ad.
    <% else %>
    <%=h ad.text %>
    <% end %>
  </p>
</div>
<% end %>
