<h1>Your Ads</h1>

<table>
  <tr>
    <th>Ad Text</th>
    <th>Keywords</th>
    <th colspan="3">Actions</th>
  </tr>
  
<% @ads.each do |ad| %>
  <tr>
    <td class="main"><%=h ad.text %></td>
    <td><%=h ad.word_list %></td>
    <td><%= link_to 'Show', resource(ad) %></td>
    <td><%= link_to 'Edit', resource(ad, :edit) %></td>
    <td><%= delete_button(ad, "Delete") %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New', resource(:ads, :new) %>