<h1>New Ad</h1>

<%= error_messages_for @ad %>

<%= form_for @ad, :action => resource(:ads) do %>
  <p>
    <%= text_field :text, :label => "Ad Text" %>
  </p>
  <p>
    <%= text_field :word_list, :label => "Keywords" %>
  </p>
  <p>
    <%= submit "Create" %>
  </p>
<% end =%>

<%= link_to 'Back', resource(:ads) %>
