<% throw_content :javascript do %>
  $(function(){
    prepare_custom_ad();
  });
<% end %>

<h1>New Ad</h1>

<%= error_messages_for @ad %>

<div class="spacer"></div>

<p>
  A New Ad adds a prefix of "This message is sponsored by &lt;Sponsor&gt;:" to the sponsored SMS message.
</p>

<div class="spacer"></div>

<%= form_for @ad, :action => resource(:ads) do %>
  <p>
    <label for="ad_sponsor">Sponsor</label><br />
    <%= text_field :sponsor %>
  </p>
  <p>
    <label for="ad_word_list">Keywords</label><br />
    <%= text_field :word_list %>
  </p>
  <p>
    <%= check_box :id => "add_custom_1", :name => "add_custom", :value => "1" %>
    <label class="checkbox" for="add_custom_1">Also send a Custom Ad in an additional SMS message.</label>
  </p>
  <p>
    <label for="ad_text">Custom Ad</label><br />
    <%= text_area :text, :cols => "40" %>
  </p>
  <p>
    <%= submit "Create" %>
  </p>
<% end =%>

<div class="spacer"></div>

<%= link_to 'Back to list', url(:ads) %>
