<h1>Ad</h1>

<div class="spacer"></div>

<p>
  Sponsor: <b><%=h @ad.sponsor %></b>
</p>

<p>
  Keywords: <b><%=h @ad.word_list %></b>
</p>

<p>
  <% if @ad.text.blank? %>
  No Custom Ad.
  <% else %>
  Custom Ad: <b><%=h @ad.text %></b>
  <% end %>
</p>

<div class="spacer"></div>

<%= link_to 'Edit', url(:edit_ad, @ad) %> | <%= link_to 'Back to list', url(:ads) %>
