<h1>Settings</h1>

<%= error_messages_for @user %>

<div class="spacer"></div>

<%= form_for @user, :action => url(:settings) do %>
  <p>
    <label for="user_budget_per_ad">Budget per Ad</label> <%= currency_tip %><br />
    <%= currency_field :budget_per_ad %>
  </p>
  <p>
    <%= submit "Update" %>
  </p>
<% end =%>