<h1>Billing</h1>

<div class="spacer"></div>

<table>
  <tr>
    <th>Sponsor</th>
    <th>Keywords</th>
    <th>Budget <%= currency_tip %></th>
    <th>Hits</th>
    <th>Charges <%= currency_tip %></th>
  </tr>
  
<% @ads.each do |ad| %>
  <tr class="<%= cycle('odd', 'even')%>">
    <td><%= link_to(h(ad.sponsor), resource(ad), :class => 'sponsor') %></td>
    <td><%=h ad.word_list %></td>
    <td class="money padded60"><%= ad.budget.to_currency(:ph, :unit => "") %></td>
    <td class="numeric"><%= ad.hits %></td>
    <td class="money"><%= ad.hits.to_currency(:ph, :unit => "") %>
  </tr>
<% end %>
  <tr>
    <td class="total-label" colspan="4">Total Amount:</td>
    <td class="total-amount money"><%= @total_amount.to_currency(:ph) %></td>
  </tr>
</table>
