<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Grobe AdPlatform</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
    <script type="text/javascript">
      <%= catch_content :javascript %>
    </script>
  </head>
  <body>
    <div id="container">
      <div id="login">
        <%= partial 'shared/login' %>
      </div>
      <div id="header">
        <a id="logo" href="/" title="Grobe AdPlatform: home"></a>
        &nbsp;
        <%= partial 'shared/nav' %>
      </div>
      <hr />
      <div id="content">
        <% message.each do |key, msg| -%>
          <%= tag :div, msg, :id => "msg_#{key}", :class => key %>
        <% end -%>
        <%= catch_content :for_layout %>
      </div>
      <%= partial 'shared/footer' %>
    </div>
  </body>
</html>