<h1>New Keyword</h1>

<%= error_messages_for @keyword %>

<%= form_for @keyword, :action => resource(:keywords) do %>
  <p>
    <%= text_field :word, :label => "Word" %>
  </p>
  <p>
    <%= submit "Create" %>
  </p>
<% end =%>

<%= link_to 'Back', resource(:keywords) %>
